h1 {
    border-radius: 15px;
    width: 70%;
    text-align: center;
    min-width: 650px;
}

table, td, th {
    border: 1px solid rgb(170, 170, 170, 0.5);
    border-collapse: collapse;

}

th, h1 {
    background-color: rgba(3, 3, 160);
    color: white;
}

td:nth-child(2), td:nth-child(3) {
    text-align: right;
}

.grey {
    background-color: rgb(170, 170, 170, 0.3);
}

table {
    margin-left: 300px;
}